Repository hmcts/fis-hmc-api, pull requests merged in 2022-12, with the labels that each got.

#104 updated the charts-bump
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-104

#105 updated the charts-bump
  README.md
  charts/fis-hmc-api/Chart.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-105

#106 Chart version change
  charts/fis-hmc-api/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/RefDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-106

#107 serviceHearinValues changes
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-107

#102 Feature/isdb 457
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/error/ApiError.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/IdamAuthService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerGetHearingsLinkDataTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/IdamAuthServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-102

#110 Feature/case flag data
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/Address.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CaseDetailResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CaseManagementLocation.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CcdResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CustomEnumSerializer.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/DontKnow.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/Element.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/Flags.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/Gender.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/MappableObject.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/Organisation.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/OtherPersonRelationshipToChild.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/OtherPersonWhoLivesWithChild.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/flagdata/Data.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/flagdata/FlagDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/flagdata/Path.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-110

#112 CVE fixes
  build.gradle
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-112

#109 serviceLinkImpl
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/caselinksdata/CaseLinkData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/caselinksdata/CaseLinkElement.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/caselinksdata/CaseReason.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/linkdata/HearingLinkData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-109

#114 SLC fix
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-114

#113 HearinfServImpl Junit
  build.gradle
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/exceptions/ServerErrorException.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseApiServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-113

#116 prl Host Change
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-116

#118 hearing Serv auth Token impl
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-118

#119 SHV Testing
  Jenkinsfile_CNP
  charts/fis-hmc-api/values.aat.template.yaml
  charts/fis-hmc-api/values.preview.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsContFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/utils/ServiceAuthenticationGenerator.java
  src/functionalTest/resources/application_e2e.yaml
  src/functionalTest/resources/requests/hearing-values.json
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/IdamTokenGenerator.java
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-119

#120 HmcCft Changes
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-120
