Repository hmcts/fis-hmc-api, pull requests merged in 2022-11, with the labels that each got.

#54 swagger fix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/RootController.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-54

#56 swagger fix
  Jenkinsfile_CNP
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-56

#59 Isdb 429 datamapping
  charts/fis-hmc-api/values.yaml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-59

#62 ingress test
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  infrastructure/main.tf
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/FunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/ApplicantTable.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/RespondentTable.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/resources/ScreenFlow.json
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-62

#63 terraform fix
  infrastructure/main.tf
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/Hearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/HearingUpdate.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-63

#65 test
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/HearingValues.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingsData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/Parties.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-65

#66 Updated the ingressHost
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-66

#73 updated the flags
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-73

#74 Feature/screenflow unittest
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  charts/fis-hmc-api/values.yaml
  config/pmd/ruleset.xml
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/FunctionalTest.java
  src/functionalTest/resources/requests/hearing-values.json
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/PrlUpdateConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceAuthTokenConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/exceptions/AuthorizationException.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/exceptions/PrlUpdateException.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/HearingUpdate.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingsData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/IdamTokenResponse.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
  src/test/resources/application-test.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-74

#75 screenflow json chnages
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-75

#77 Resource Loader impl
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-77

#78 updated the values in response
  charts/fis-hmc-api/values.preview.template.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-78

#81 added new api link data
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/linkdata/HearingLinkData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-81

#83 updated the constants
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-83

#84 updated the case type
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingsData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-84

#87 updated the service code
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-87

#88 jenkins changes for staging
  Jenkinsfile_CNP
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-88

#92 updated response payload serviceValue api
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CaseFlags.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/PartyType.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/ServiceHearingValues.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-92

#93 updated response payload serviceValue api
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-93

#94 Feature/linked data
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/OrganisationDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/PartyDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-94

#100 updated svc code
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-100

#101 Feature/hrelease v8
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-101

#103 ingressChanges
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-103
