Repository hmcts/fis-hmc-api, pull requests merged in 2023-01, with the labels that each got.

#125 venueID integration for hearings api
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-125

#128 Judge detail itegration into heairngs api
  charts/fis-hmc-api/values.yaml
  config/owasp/suppressions.xml
  src/functionalTest/resources/application_e2e.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/JudgeRequestDTO.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/JudgeDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-128

#129 ISDB-544
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/CaseData.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/request/Query.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/request/QueryParam.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/request/Terms.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/ElasticSearch.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/ElasticSearchImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ElasticSearchTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-129

#140 uuid changes for all parties
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-140

#141 partyLevelFlag Null Check & OR operator inclusion
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-141

#142 email and phone chnages
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/IndividualDetailsModel.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-142
