Repository hmcts/fis-hmc-api, pull requests merged in 2023-07, with the labels that each got.

#227 SNI 4161 Role-Assignment API
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.preview.template.yaml
  charts/fis-hmc-api/values.yaml
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/RoleAssignment.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/RoleAssignmentAttributesResource.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/RoleAssignmentRequestResource.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/RoleRequest.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/restclient/RoleAssignmentServiceApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/IdamAuthService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RoleAssignmentService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RoleAssignmentServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/RoleAssignmentServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-227

#228 updated s2s generation logic
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RoleAssignmentServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-228

#229 Placeholders for urls
  Jenkinsfile_CNP
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application_e2e.yaml
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-229

#230 Managecaseurl placeholder
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-230

#231 Replaced rest template with feign client
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RoleAssignmentServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-231

#234 FPET-618 hearing changes
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-234

#236 Retry mechanism updated for servicebus
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-236

#237 futureHearingStatus List for non cancelled hearings
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-237

#243 serviceHearingValues bug fix
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-243
