Repository hmcts/fis-hmc-api, pull requests merged in 2023-04, with the labels that each got.

#202 updated read me doc
  README.md
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/idam/IdamApiConsumerTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-202

#205 Case Status to be changed to Prep for hearing if case has any hearing…
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-205

#206 Amendement for LISTED in the past
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-206

#209 PRL-3557 Cafcass Response to include court type id and name
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/Hearings.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-209

#211 Preview internal url change
  Jenkinsfile_CNP
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-211

#212 PRL-3557 cafcass court changes
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/HearingDaySchedule.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-212
