Repository hmcts/fis-hmc-api, pull requests merged in 2023-12, with the labels that each got.

#297 Ref data v2 api change and implementation of Launch Darkly flag in fi…
  Jenkinsfile_CNP
  build.gradle
  charts/fis-hmc-api/Chart.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application_e2e.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/launchdarkly/LaunchDarkClientFactory.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/launchdarkly/LaunchDarklyClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/config/launchdarkly/LaunchDarklyClientTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/RefDataJudicialServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-297

#307 FPET-802 Fix case flag issue with hearing api
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-307

#311 Update README.md
  README.md
  config/owasp/suppressions.xml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-311
