Repository hmcts/fis-hmc-api, pull requests merged in 2023-02, with the labels that each got.

#148 updated AI
  Dockerfile
  lib/AI-Agent.xml
  lib/applicationinsights.json
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-148

#149 partyDetaisl amendments
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/PartyDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-149

#154 Case Deep Link updation
  charts/fis-hmc-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-154

#156 Org Party name fix
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-156

#157 Org Unit fix impl
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/CaseFlagDataServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-157

#160 ISDB-596
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/refdatacategory/RefDataCategoryApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/refdatacategory/RefDataCategoryApiConsumerTest.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/utils/ResourceLoader.java
  src/contractTest/resources/response/RefDataCategoryResponse.json
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsContFunctionalTest.java
  src/functionalTest/resources/application_e2e.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CaseHearing.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/Categories.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/restclient/HmcHearingApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-160

#159 Sonar fixes
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsContFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
  src/test/resources/ScreenFlow.json
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-159

#155 NHD first Impl
  config/pmd/ruleset.xml
  src/contractTest/resources/application.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsContFunctionalTest.java
  src/functionalTest/resources/application_e2e.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/IdamTokenGenerator.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/enums/State.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/NextHearingDetailsDTO.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/IdamAuthService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-155

#164 Auth changes
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-164

#166 error fixes
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-166

#167 prl user for hmc-cft
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-167

#170 chart version
  charts/fis-hmc-api/Chart.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-170

#173 reverted to old placeholder
  Jenkinsfile_CNP
  charts/fis-hmc-api/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application_e2e.yaml
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-173

#174 prl idam user addition
  Jenkinsfile_CNP
  charts/fis-hmc-api/values.yaml
  src/contractTest/resources/application.yaml
  src/functionalTest/resources/application_e2e.yaml
  src/main/resources/application.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-174

#175 - fix for 403 error when calling ref data category api.
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-175

#178 Junit fixes
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/IdamTokenGenerator.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-178

#180 upgrade chart version
  charts/fis-hmc-api/Chart.yaml
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-180

#181 Update Jenkinsfile_CNP
  Jenkinsfile_CNP
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-181

#179 author chnages for updateNextHearingDate
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-179

#183 Updated s2s token generation before calling hearings api
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-183
