Repository hmcts/fis-hmc-api, pull requests merged in 2023-03, with the labels that each got.

#184 Fix s2s issue for next hearingdate
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-184

#185 fixes for stateupdate
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-185

#189 All Future cancelled then DecOutcome
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-189

#190 - Reverting changes for ref data api call, as it moved to prl cos api.
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/refdatacategory/RefDataCategoryApiConsumerApplication.java
  src/contractTest/java/uk/gov/hmcts/reform/hmc/api/refdatacategory/RefDataCategoryApiConsumerTest.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-190

#191 updated code coverage
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsDataServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/ServiceHearingValuesServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-191

#193 hearings api modification
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-193

#194 Fetch all hearings for list of caseIds end point
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerIntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/hmc/api/utils/TestConstants.java
  src/integrationTest/resources/requests/list-of-case-ids.json
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/CourtDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/response/VenuesDetail.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataApi.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/RefDataServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/utils/Constants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingCftServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-194

#192 Moving NextHearingUpdate to prl-cos
  src/main/java/uk/gov/hmcts/reform/hmc/api/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/NextHearingDetails.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/request/HearingDTO.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceImpl.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/NextHearingDetailsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/PrlUpdateServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-192
