Repository hmcts/fis-hmc-api, pull requests merged in 2024-11, with the labels that each got.

#475 Update enum to keep in sync with Cos and CCD
  src/main/java/uk/gov/hmcts/reform/hmc/api/model/ccd/DontKnow.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-475

#474 Remove state filter for hearings
  charts/fis-hmc-api/Chart.yaml
  charts/fis-hmc-api/values.yaml
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-474

#476 Loggers updated
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-476
