Repository hmcts/fis-hmc-api, pull requests merged in 2025-02, with the labels that each got.

#495 Hearing by list of case ids endpoint update
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingApiClient.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceTest.java
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-hmc-api-pr-495

#477 loggers added to test PRL-5766
  src/main/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsController.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsService.java
  src/main/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceImpl.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/controllers/HearingsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceTest.java
Labels: ns:fis, prd:fis, enable_keep_helm, rel:fis-hmc-api-pr-477

#497 test coverage added
  src/test/java/uk/gov/hmcts/reform/hmc/api/services/HearingsServiceTest.java
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-497

#499 FPET-1235 nightly build fix
  build.gradle
Labels: ns:fis, prd:fis, rel:fis-hmc-api-pr-499
